@import '_utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $defaultFont;
}

body {
  color: $defaultColor;
}

h1{
  text-align: center;
}

.normal-select,
.fire-select,
.water-select,
.grass-select,
.electric-select,
.ice-select,
.fighting-select,
.poison-select,
.ground-select,
.rock-select,
.flying-select,
.bug-select,
.psychic-select,
.ghost-select,
.dragon-select,
.dark-select,
.steel-select,
.fairy-select {
  font-weight: bold;
  letter-spacing: 0.05rem;
  color: #fff;
  border: none;
}

.normal-select {
  background-color: #a8a878;
}
.fire-select {
  background-color: #f08030;
}
.water-select {
  background-color: #6890f0;
}
.grass-select {
  background-color: #78c850;
}
.electric-select {
  background-color: #f8d030;
}
.ice-select {
    background-color: #98d8d8;
}
.fighting-select {
  background-color: #c03028;
}
.poison-select {
  background-color: #a040a0;
}
.ground-select {
  background-color: #e0c068;
}
.rock-select {
  background-color: #b8a038;
}
.flying-select {
  background-color: #a890f0;
}
.bug-select {
  background-color: #a8b820;
}
.psychic-select {
  background-color: #f85888;
}
.ghost-select {
  background-color: #705898;
}
.dragon-select {
  background-color: #7038f8;
}
.dark-select {
  background-color: #705848;
}
.steel-select {
  background-color: #b8b8d0;
}

.fairy-select {
  background-color: #ee99ac;
}

/*---------- Search results ----------*/


.search-results {
  width: 100%;
  text-align: center;
}

.info-card {
  width: 100%;
  background-color: #efefef;
  padding: 0 auto;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

a:nth-of-type(even) .info-card {
  background-color: #deeeef;
}

.info-contain {
  display: inline-block;
  padding: 1rem;
}

.info-name {
  display: inline;
  font-size: 1.25rem;
  color: #4f4f5f;
}

.ht-wt {
  p {
    display: inline;
  }
}

.type-container {
  display: block;
  width: 100%;
  p {
    text-align: center;
  }
}

.info-type {
  display: inline-block;
  width: 3.5rem;
  height: 1.5rem;
  font-size: 0.75rem;
  text-transform: capitalize;
  line-height: 1.5rem;
  border-radius: 2px;
  margin: 0.5rem;
  p {
    margin: 0;
  }
}

.basic-info,
.go-info {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.very-strong,
.strong,
.weak,
.very-weak {
  display: inline-block;
  vertical-align: top;
  max-width: 215px;
}
